<mat-card>
  <mat-card-header>
    <h2 class="mat-h2">Nueva incidencia</h2>
  </mat-card-header>
  <form class="form">
    <mat-form-field>
      <mat-label>Descripción</mat-label>
      <input matInput name="descripcion" placeholder="Descripción"  [(ngModel)]="incidencia.description">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Categoria</mat-label>
      <mat-select name="categoriaid" [(ngModel)]="incidencia.categoriaId">
        <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">
          {{categoria.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="save()">Guardar</button>
  </form>
</mat-card>
