<div class="container">
  <div class="header">
    <h1>INVOICE</h1>
    <div class="logo">
      <img src="assets/prime-logo.svg">
      <p>9137 3rd Lane California City, CA 93504.</p>
    </div>
  </div>

  <div class="content">
    <div class="general">
      <table>
        <thead>
          <th>BILL TO</th>
          <th>DATE</th>
          <th>INVOICE NO</th>
          <th>NOTES</th>
        </thead>
        <tbody>
          <tr class="column">
            <td class="row">
              <span class="title">BILL TO</span>
              <p>TOYOKSU SYSCOM CORPORATION 11-27, MEIEKI 4-CHROME NAKAMURA-KU, NAGOYA 450-0002 JAPAN</p>
            </td>
            <td class="row">
              <span class="title">DATE</span>
              <p>30/08/2021</p>
            </td>
            <td class="row">
              <span class="title">INVOICE NO</span>
              <p>A/3100</p>
            </td>
            <td class="row">
              <span class="title">NOTES</span>
              <p>N/A</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="description">
      <table>
        <thead>
          <th>DESCRIPTION</th>
          <th>QUANTITY</th>
          <th>UNIT PRICE</th>
          <th>LINE TOTAL</th>
        </thead>
        <tbody>
          <tr class="column">
            <td class="row">
              <span class="title">DESCRIPTION</span><p>License A</p>
            </td>
            <td class="row">
              <span class="title">QUANTITY</span><p>4</p>
            </td>
            <td class="row">
              <span class="title">UNIT PRICE</span><p>$99.00</p>
            </td>
            <td class="row">
              <span class="title">LINE TOTAL</span><p>$396.00</p>
            </td>
          </tr>
          <tr class="column">
            <td class="row">
              <span class="title">DESCRIPTION</span><p>License B</p>
            </td>
            <td class="row">
              <span class="title">QUANTITY</span><p>1</p>
            </td>
            <td class="row">
              <span class="title">UNIT PRICE</span><p>$790.00</p>
            </td>
            <td class="row">
              <span class="title">LINE TOTAL</span><p>$790.00</p>
            </td>
          </tr>
          <tr class="column">
            <td class="row">
              <span class="title">DESCRIPTION</span><p>License C</p>
            </td>
            <td class="row">
              <span class="title">QUANTITY</span><p>2</p>
            </td>
            <td class="row">
              <span class="title">UNIT PRICE</span><p>$59.00</p>
            </td>
            <td class="row">
              <span class="title">LINE TOTAL</span><p>$118.00</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="footer">
      <div class="bank">
        <h2>BANK</h2>
        <div class="bank-item">
          <span>Bank</span>
          <span>BestBank</span>
        </div>
        <div class="bank-item">
          <span>ACCOUNT BENEFICIARY</span>
          <span>Edward Williams</span>
        </div>
        <div class="bank-item">
          <span>SWIFT</span>
          <span>PJNWBXND</span>
        </div>
        <div class="bank-item">
          <span>IBAN</span>
          <span>GB04420235692263866724650931</span>
        </div>
      </div>
      <div class="total">
        <h2>TOTAL</h2>
        <div class="total-content">
          <span>SUBTOTAL</span>
          <span>$1304.00</span>
          <span>VAT</span>
          <span>$234.72</span>
          <span>TOTAL</span>
          <span>$1538.72</span>
        </div>
      </div>
    </div>
  </div>
</div>
