<app-toolbar (toggleDrawer)="drawer.toggle()"></app-toolbar>
<mat-drawer-container class="container">
  <mat-drawer #drawer class="sidenav" mode="push">
    <mat-nav-list>
      <mat-list-item>
        <a [routerLink]="['/dashboard']" (click)="drawer.toggle()">Inicio</a>
      </mat-list-item>
      <mat-list-item *ngIf="isAdmin()">
        <a [routerLink]="['/dashboard/statics']" (click)="drawer.toggle()">Estadísticas</a>
      </mat-list-item>
      <mat-list-item *ngIf="isAdmin()">
        <a [routerLink]="['/dashboard/invoice']" (click)="drawer.toggle()">Invoice</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
